<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro-v4-shims.min.css" media="all" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro-v4-font-face.min.css" media="all" rel="stylesheet">
    <link href="https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/fullpage.css" rel="stylesheet">
    <link href="./assets/css/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/fullpage.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/jquery.fancybox-1.3.4.pack.js"></script>
<script>
    $(document).ready(function () {
        $('.fullpage-wrapper').fullpage({
            //options here
            anchors:['s1', 's2', 's3', 's4','s5','s6','s7','s8','s9']
        });
        $('.slider_utilitie').slick({
            centerMode: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            autoplay: true,
            dots: false,
            prevArrow: $('.btn_prev'),
            nextArrow: $('.btn_next')
        });
        $('.btn-toggle').on('click',function () {
           $('.mainmenu').addClass('show');
        });
        $('.close-menu').on('click',function () {
            $('.mainmenu').removeClass('show');
        });

        //js fancybox
        $("a[data-fancybox='value'],a[data-fancybox='floorplan'],a[data-fancybox='floorplan1'],a[rel='Collection Gallery 1'],a[rel='Collection Gallery 2'],a[rel='Collection Gallery 3']").fancybox({
            'transitionIn'	:	'elastic',
            'transitionOut'	:	'elastic',
            'speedIn'		:	600,
            'speedOut'		:	200,
            'overlayShow'	:	false
        });
    });
</script>
</body>
</html>