<header>
    <a href="" class="logo"></a>
    <button type="button" class="btn-toggle"><span></span><span></span><span></span></button>
    <div class="connect">
        <a href="" class=""><i class="fab fa-facebook-f"></i></a>
        <a href="" class=""><i class="far fa-envelope-open"></i></a>
        <a href="" class=""><i class="fas fa-phone-volume"></i></a>
    </div>
</header>
<div class="fullpage-wrapper">
    <div class="section s1">
        <div class="masking"></div>
        <div class="decor-flower pos-tr type-gray"></div>
        <div class="s1banner"><div class="s1banner-img"></div></div>
        <div class="s1content">
            <a href="" class="logo ef-item ef-from-top ef-item-1"><img src="./assets/img/logo-brg-3.png" alt=""></a>
            <h2 class="welcomeTitle ef-item ef-from-top ef-item-2">
                <div class="headlineTxt">
                    <div class="effTxt trueTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk txt-bgGrad-green"> Tuyệt tác xa hoa</div>
                            <div class="txtBlk txt-bgGrad-green"> Trên nền di sản</div>
                        </h2>
                    </div>
                    <div class="effTxt fakeTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">T</span>
                                    <span class="letter">u</span>
                                    <span class="letter">y</span>
                                    <span class="letter">ệ</span>
                                    <span class="letter">t</span>
                                    <span class="letter">t</span>
                                    <span class="letter">á</span>
                                    <span class="letter">c</span>
                                    <span class="letter">x</span>
                                    <span class="letter">a</span>
                                    <span class="letter">h</span>
                                    <span class="letter">o</span>
                                    <span class="letter">a</span>
                                </div>
                            </div>
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">T</span>
                                    <span class="letter">r</span>
                                    <span class="letter">ê</span>
                                    <span class="letter">n</span>
                                    <span class="letter">n</span>
                                    <span class="letter">ề</span>
                                    <span class="letter">n</span>
                                    <span class="letter">d</span>
                                    <span class="letter">i</span>
                                    <span class="letter">s</span>
                                    <span class="letter">ả</span>
                                    <span class="letter">n</span>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
            </h2>
            <div class="moveto ef-item ef-from-top ef-item-4"><img src="./assets/img/icon-cursor.svg" alt=""></div>
            <a href="javascript:;" class="btn-video ef-item ef-from-bottom ef-item-5">
                <span class="txt-bgGrad-gold"> Clip giới thiệu dự án </span>
                <i class="btnIcon fas fa-play txt-bgGrad-gold" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="section s2">
        <div class="masking"></div>
        <div class="decor-flower pos-tr type-gray"></div>
        <div class="s2content flex">
            <div class="img-wrapper decor-bruswhite">
                <div class="img-bg bg-fill ef-item ef-from-right ef-item-3 active"></div>
            </div>
            <div class="introcontent">
                <div class="introtab ef-item ef-from-left ef-item-1">
                    <div class="introtab-item active">
                        Về chủ đầu tư
                    </div>
                    <div data-toggle="modal" data-target="#modalInspire" class="introtab-item"> Cảm hứng di sản</div>
                </div>
                <div class="introtxt ef-item ef-from-right ef-item-2">
                    <article class="introTxt-item active">
                        <p>Là một trong những tập đoàn kinh tế, dịch vụ tư nhân đa ngành hàng đầu Việt Nam,
                            <a href="https://brggroup.vn/">Tập đoàn BRG</a>
                            hiện đang cung cấp những sản phẩm và dịch vụ chất lượng cao trong các lĩnh vực như: Tài chính – Ngân hàng; Bất động sản; Hệ thống sân Golf; Khách sạn – Nghỉ dưỡng; Vui chơi giải trí; Thương mại – Bán lẻ và Sản xuất công – nông nghiệp công nghệ cao đến với khách hàng trong nước và quốc tế.</p>
                        <p>Với khát vọng cống hiến cho cộng đồng những giá trị tốt đẹp nhất, Tập đoàn BRG luôn tiên phong hội nhập quốc tế, hợp tác với những Tập đoàn đa quốc gia danh tiếng nhất trên thế giới để xây dựng hệ sinh thái sản phẩm và dịch vụ toàn diện và bền vững, đem những tiêu chuẩn sống cao nhất đến với cộng đồng.</p>
                    </article>
                    <article class="introTxt-item">
                        <p>Theo Đại Việt Sử Ký Toàn Thư, vào thế kỷ thứ 16, khi khắp bờ cõi Việt Nam người dân vốn vẫn quen với việc “bán mặt cho đất, bán lưng cho trời”, ngày ngày ước mong về những vụ mùa bội thu thì tại một miền đất ven biển phía Bắc đã hình thành nên một cảng biển tấp nập trên bến dưới thuyền. Tại mảnh đất này, người Việt không sống lệ thuộc vào thời tiết mà thể hiện tinh thần và bản lĩnh doanh nhân dẫn đầu, chủ động kiến tạo và nắm giữ tương lai bằng cách đem những sản vật quý của Việt Nam như gốm sứ, tơ lụa, nông sản… giao thương với những quốc gia tại các châu lục xa xôi như Anh, Pháp, Hà Lan… tạo nên một đô thị ven biển đầu tiên trong lịch sử nước Việt, là cửa ngõ giao thương quan trọng kết nối với kinh thành Thăng Long lúc bấy giờ.</p><p>Cũng tại nơi đây, người dân mảnh đất này còn là chứng nhân hùng hồn của tinh thần quật cường, mạnh mẽ khi là cái nôi sản sinh ra những vị tướng tài giỏi và giành những chiến thắng vang dội lịch sử trong các cuộc chiến chống xâm lăng từ các cường quốc trên Thế giới.</p>
                        <p>Trải qua hàng trăm năm lịch sử, tới nay vùng đất cảng ấy vẫn tiếp tục giữ vị trí trọng yếu của Việt Nam cũng như trong khu vực.</p>
                        <p>Mảnh đất đó được gọi tên là HẢI PHÒNG.</p>
                        <p>Từ cảm hứng về một thương cảng lừng lẫy lịch sử, BRG dồn nhiều tâm huyết để phát triển một kiệt tác xa hoa với tên gọi BRG LEGEND như một chứng nhân vĩnh cửu của tương lai, một biểu tượng của sự thịnh vượng trường tồn nhằm tôn vinh những chủ nhân danh giá xứng tầm.</p>
                        <p>BRG LEGEND tiên phong mang tới một tuyệt tác căn hộ thượng lưu với những giá trị độc nhất , kiến tạo một lối sống xa hoa vượt thời gian và vượt trên cả những chuẩn mực thượng lưu tại trái tim thương cảng Hải Phòng.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="section s3">
        <div class="masking"></div>
        <div class="decor-flower pos-bl type-white"></div>
        <div class="s3content">
            <div class="locationcontent bg--brushGreen">
                <div class="headlineTxt">
                    <div class="effTxt trueTxt">
                        <h2 class="headlineTxt-title txt-bgGrad-gold">
                            <div class="txtBlk"> Vị trí kim cương</div>
                            <div class="txtBlk"> Giá trị vĩnh cửu</div>
                        </h2>
                    </div>
                    <div class="effTxt fakeTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">V</span>
                                    <span class="letter">ị</span>
                                    <span class="letter">t</span>
                                    <span class="letter">r</span>
                                    <span class="letter">í</span>
                                    <span class="letter">k</span>
                                    <span class="letter">i</span>
                                    <span class="letter">m</span>
                                    <span class="letter">c</span>
                                    <span class="letter">ư</span>
                                    <span class="letter">ơ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">g</span>
                                </div>
                            </div>
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">G</span>
                                    <span class="letter">i</span>
                                    <span class="letter">á</span>
                                    <span class="letter">t</span>
                                    <span class="letter">r</span>
                                    <span class="letter">ị</span>
                                    <span class="letter">v</span>
                                    <span class="letter">ĩ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">h</span>
                                    <span class="letter">c</span>
                                    <span class="letter">ử</span>
                                    <span class="letter">u</span>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
                <article class="ef-item ef-from-left ef-item-3">
                    <p>Tọa lạc tại vị trí kim cương, giữa trung tâm thành phố cảng phồn hoa lâu đời, BRG LEGEND là tâm điểm kết nối giữa xưa – nay và hướng tới tương lai, là biểu tượng của Hải Phòng hoa lệ thời đại mới.</p>
                </article>
                <a data-fancybox="Ảnh vị trí" href="./assets/img/BRGlegend-Bandovitri0506020-white_1589956671-1-scaled.jpg" class="btnTheme ef-item ef-from-left ef-item-4"> <span class="txt-bgGrad-gold">Xem bản đồ</span> <i class="btnIcon fas fa-play txt-bgGrad-gold" aria-hidden="true"></i> </a>
            </div>
            <div class="img-wrapper ef-item ef-from-right ef-item-5">
                <div class="img-bg"></div>
            </div>
        </div>
    </div>
    <div class="section s4">
        <div class="masking"></div>
        <div class="decor-flower pos-br type-gray"></div>
        <div class="s4content">
            <div class="slidercontent">
                <a data-fancybox="value" href="./assets/img/campc02-gigapixel-scaled.jpg" class="item ef-item ef-item-2">
                    <h3 class="title"> Siêu phẩm độc bản <br> Tột bậc xa hoa</h3>
                    <span class="item-bg bg-fill" style="background-image: url(./assets/img/campc02-gigapixel-scaled.jpg);"></span>
                    <div class="content">
                        <h4 class="txt-bgGrad-gold"> Siêu phẩm độc bản <br> Tột bậc xa hoa</h4>
                        <p>Đối với giới thượng lưu, những doanh nhân xuất chúng luôn chủ động kiến tạo và nắm giữ tương lai, những người có sở thích sưu tập các tuyệt phẩm có giá trị vĩnh cửu, BRG LEGEND là siêu phẩm độc bản mang đến một trải nghiệm thượng đỉnh, tột bậc xa hoa, bởi BRG LEGEND là sự sánh đôi ấn tượng và duy nhất tại Việt Nam giữa tháp căn hộ thượng lưu với khách sạn Hilton danh tiếng toàn cầu.</p>
                    </div>
                </a>
                <a data-fancybox="value" href="./assets/img/CamTT02_Feb25-gigapixel-scaled.jpg" class="item ef-item ef-item-2">
                    <h3 class="title"> Kiến trúc chuẩn mực <br> Đối tác danh tiếng</h3>
                    <span class="item-bg bg-fill" style="background-image: url(./assets/img/CamTT02_Feb25-gigapixel-scaled.jpg)"></span>
                    <div class="content">
                        <h4 class="txt-bgGrad-gold">  Kiến trúc chuẩn mực <br> Đối tác danh tiếng</h4>
                        <p>Sở hữu kiến trúc mang hơi thở châu Âu – ngôn ngữ kiến trúc của bậc đế vương trường tồn qua nhiều thế kỷ, dự án xứng đáng là “bản giao hưởng tuyệt vời” từ các nghệ sỹ bậc thầy của kiến trúc.</p>
                        <p>202 căn hộ tại BRG LEGEND là những tuyệt phẩm được chăm chút từ hàng trăm chuyên gia đến từ 8 công ty tư vấn, 3 quốc gia trên thế giới: WOW Architects Singapore – Thiết kế kiến trúc tổng thể dự án; KKS Singapore – Thiết kế nội thất; DJ Coalition Thái Lan – Hệ thống chiếu sáng, STET Singapore – Tư vấn an ninh… cùng đơn vị phát triển dự án – Tập đoàn BRG. BRG LEGEND mang đến những giá trị chuẩn mực thượng lưu vốn chỉ tìm thấy ở các dự án đẳng cấp quốc tế.</p>
                    </div>
                </a>
                <a data-fancybox="value" href="./assets/img/Khach_3PN_v002-gigapixel-1-scale.jpg" class="item ef-item ef-item-2">
                    <h3 class="title"> Nội thất siêu sang</h3>
                    <span class="item-bg bg-fill" style="background-image: url(./assets/img/Khach_3PN_v002-gigapixel-1-scale.jpg)"></span>
                    <div class="content">
                        <h4 class="txt-bgGrad-gold">  Nội thất siêu sang</h4>
                        <p>Không chỉ là hiện thân của những giá trị tinh túy nhất đến từ cảm hứng dựa trên một lịch sử lẫy lừng, sở hữu tọa độ kim cương với số lượng căn hộ hữu hạn được chăm chút tỉ mỉ từ hàng trăm chuyên gia toàn cầu và những tiện ích đẳng cấp độc nhất vô nhị, BRG LEGEND còn là một tác phẩm nghệ thuật với những chấm phá và điểm xuyết bằng các thiết bị nội thất siêu sang, vốn là biểu tượng của nghệ thuật thiết kế đương đại. Tất cả tạo nên một kiệt tác xa hoa hoàn chỉnh giữa tâm cảng phồn hoa, sôi động.</p>
                    </div>
                </a>
                <a data-fancybox="value" href="./assets/img/CamT20_WTLogo-gigapixel-scaled.jpg" class="item ef-item ef-item-2">
                    <h3 class="title"> Cộng đồng đẳng cấp</h3>
                    <span class="item-bg bg-fill" style="background-image: url(./assets/img/CamT20_WTLogo-gigapixel-scaled.jpg)"></span>
                    <div class="content">
                        <h4 class="txt-bgGrad-gold"> Cộng đồng đẳng cấp</h4>
                        <p>Tại BRG LEGEND, chủ nhân không đơn thuần tìm thấy một cộng đồng giàu có, đẳng cấp đế vương, mà đó còn là một cộng đồng văn minh quy tụ giới tinh hoa thực thụ, nơi những con người thành đạt, bản lĩnh và hội nhập xu hướng quốc tế tìm thấy nhau.</p>
                    </div>
                </a>
            </div>
            <div class="s4title ef-item ef-from-right ef-item-4">
                <div class="headlineTxt">
                    <div class="effTxt trueTxt">
                        <h2 class="headlineTxt-title txt-bgGrad-green">
                            <div class="txtBlk"> Khẳng định</div>
                            <div class="txtBlk"> Vị thế</div>
                        </h2>
                    </div>
                    <div class="effTxt fakeTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">K</span>
                                    <span class="letter">h</span>
                                    <span class="letter">ẳ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">g</span>
                                    <span class="letter">đ</span>
                                    <span class="letter">ị</span>
                                    <span class="letter">n</span>
                                    <span class="letter">h</span>
                                </div>
                            </div>
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">V</span>
                                    <span class="letter">ị</span>
                                    <span class="letter">t</span>
                                    <span class="letter">h</span>
                                    <span class="letter">ế</span>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section s5">
        <div class="masking"></div>
        <div class="decor-flower pos-bl type-bl"></div>
        <div class="s5content">
            <div class="col-left">
                <div class="headlineTxt">
                    <div class="effTxt trueTxt">
                        <h2 class="headlineTxt-title txt-bgGrad-green">
                            <div class="txtBlk"> Tiện ích đặc quyền</div>
                            <div class="txtBlk"> Chuẩn sống thời thượng</div>
                        </h2>
                    </div>
                    <div class="effTxt fakeTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">T</span>
                                    <span class="letter">i</span>
                                    <span class="letter">ệ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">í</span>
                                    <span class="letter">c</span>
                                    <span class="letter">h</span>
                                    <span class="letter">đ</span>
                                    <span class="letter">ặ</span>
                                    <span class="letter">c</span>
                                    <span class="letter">q</span>
                                    <span class="letter">u</span>
                                    <span class="letter">y</span>
                                    <span class="letter">ề</span>
                                    <span class="letter">n</span>
                                </div>
                            </div>
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">C</span>
                                    <span class="letter">h</span>
                                    <span class="letter">u</span>
                                    <span class="letter">ẩ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">s</span>
                                    <span class="letter">ố</span>
                                    <span class="letter">n</span>
                                    <span class="letter">g</span>
                                    <span class="letter">t</span>
                                    <span class="letter">h</span>
                                    <span class="letter">ờ</span>
                                    <span class="letter">i</span>
                                    <span class="letter">t</span>
                                    <span class="letter">h</span>
                                    <span class="letter">ư</span>
                                    <span class="letter">ợ</span>
                                    <span class="letter">n</span>
                                    <span class="letter">g</span>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="txt ef-item ef-from-left ef-item-3">
                    <p>Xứng đáng là siêu phẩm bất động sản đẳng cấp quốc tế tại Hải Phòng, BRG LEGEND mang đến những trải nghiệm xa hoa dành cho chủ nhân danh giá. Trải nghiệm từng giây phút trọn vẹn cùng những tiện ích hiện đại không thể thiếu trong các căn hộ cao cấp của giới thành đạt như: Trung tâm thương mại quy tụ những thương hiệu nổi tiếng thế giới, bể bơi trên cao “view” toàn cảnh thành phố Cảng, Skybar trên tầng thượng sang trọng…</p>
                    <p>Bên cạnh những tiện ích quý tộc độc đáo lần đầu tiên xuất hiện tại Hải Phòng, quý cư dân dễ dàng tiếp cận hàng loạt tiện ích đẳng cấp 5 sao theo tiêu chuẩn của chuỗi thương hiệu khách sạn Hilton danh tiếng toàn cầu như: Nhà hàng, Spa, tổ chức sự kiện.</p>
                    <p>Bộ đôi tiện ích căn hộ và khách sạn góp phần tạo nên định danh “Siêu phẩm” dành cho BRG LEGEND – Biểu tượng của sự thịnh vượng dành cho giới thủ lĩnh tinh hoa.</p>
                </div>
                <div class="nav-slider flex">
                    <a href="javascript:;" class="btn_next flex-center"><i class="fas fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="javascript:;" class="btn_prev flex-center"><i class="fas fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-right">
                <div class="slider_utilitie">
                    <div class="item pr">
                        <img src="./assets/img/P_SHCD_v005-gigapixel-scaled.jpg" class="bg" alt="">
                        <div class="content">
                            <div class="icon flex-center">
                                <img src="./assets/img/wine-glass.svg" alt="">
                            </div>
                            <h4 class="title"> Phòng sinh hoạt cộng đồng</h4>
                        </div>
                    </div>
                    <div class="item pr">
                        <img src="./assets/img/VALET-PARKING-KHACH-CHOT-scaled.jpg" class="bg" alt="">
                        <div class="content">
                            <div class="icon flex-center">
                                <img src="./assets/img/spa.svg" alt="">
                            </div>
                            <h4 class="title">Dịch vụ Valet Parking</h4>
                        </div>
                    </div>
                    <div class="item pr">
                        <img src="./assets/img/POOL-KHACH-CHOT-gigapixel-scaled.jpg" class="bg" alt="">
                        <div class="content">
                            <div class="icon flex-center">
                                <img src="./assets/img/swimmer.svg" alt="">
                            </div>
                            <h4 class="title">Bể bơi Sky Pool</h4>
                        </div>
                    </div>
                    <div class="item pr">
                        <img src="./assets/img/VuongThuongUyen_v002_WTLogo-giga.jpg" class="bg" alt="">
                        <div class="content">
                            <div class="icon flex-center">
                                <img src="./assets/img/wine-glass.svg" alt="">
                            </div>
                            <h4 class="title">Khu tiệc BBQ ngoài trời</h4>
                        </div>
                    </div>
                    <div class="item pr">
                        <img src="./assets/img/sanhletan_r4-gigapixel-scaled.jpg" class="bg" alt="">
                        <div class="content">
                            <div class="icon flex-center">
                                <img src="./assets/img/archway.svg" alt="">
                            </div>
                            <h4 class="title">Sảnh lễ tân sang trọng</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section s6">
        <div class="masking"></div>
        <div class="decor-flower pos-tr type-white"></div>
        <div class="s6content scontent">
            <div class="col-left">
                <div class="nav-floor ef-item ef-from-left ef-item-6">
                    <a data-fancybox="floorplan1" href="./assets/img/Bando-1-2.jpg" class="nav-item active">Tầng điển hình</a>
                    <a data-fancybox="floorplan1" href="./assets/img/TANG7-scaled.jpg" class="nav-item">Tầng 7</a>
                    <a data-fancybox="floorplan1" href="./assets/img/TANG8-scaled.jpg" class="nav-item">Tầng 8</a>
                    <a data-fancybox="floorplan1" href="./assets/img/TANG9-19-scaled.jpg" class="nav-item">Tầng 9-19</a>
                    <a data-fancybox="floorplan1" href="./assets/img/TANG20-scaled.jpg" class="nav-item">Tầng 20</a>
                    <a data-fancybox="floorplan1" href="./assets/img/TANG21-scaled.jpg" class="nav-item">Tầng 21-22</a>
                </div>
                <div class="floor-item ef-item ef-from-right ef-item-7">
                    <a data-fancybox="floorplan" href="./assets/img/Bando-1-2.jpg" class="floorPlan-itemImg active lazyloaded" data-bg="./assets/img/Bando-1-2.jpg">
                        <img src="./assets/img/Bando-1-2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-right bg--brushGreen">
                <div class="headlineTxt">
                    <div class="headlineTxt">
                        <div class="effTxt trueTxt">
                            <h2 class="headlineTxt-title txt-bgGrad-gold">
                                <div class="txtBlk">
                                    Mặt bằng
                                </div>
                                <div class="txtBlk">
                                    Tổng thể
                                </div>
                            </h2>
                        </div>
                        <div class="effTxt fakeTxt">
                            <h2 class="headlineTxt-title">
                                <div class="txtBlk">
                                    <div class="txtReveal"><span class="letter">M</span><span class="letter">ặ</span><span class="letter">t</span> <span class="letter">b</span><span class="letter">ằ</span><span class="letter">n</span><span class="letter">g</span></div>
                                </div>
                                <div class="txtBlk">
                                    <div class="txtReveal"><span class="letter">T</span><span class="letter">ổ</span><span class="letter">n</span><span class="letter">g</span> <span class="letter">t</span><span class="letter">h</span><span class="letter">ể</span></div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="floor-info">
                    <div class="info-item ef-item ef-from-bottom ef-item-3">
                        <div class="icon"><img src="./assets/img/pillar.svg" alt=""></div>
                        <div class="txt">
                            <span>Tổng diện tích đất</span>
                            <h5>8.318 <em>m2</em></h5>
                        </div>
                    </div>
                    <div class="info-item ef-item ef-from-bottom ef-item-4">
                        <div class="icon"><img src="./assets/img/cad-3.svg" alt=""></div>
                        <div class="txt">
                            <span>Số lượng căn</span>
                            <h5>202 <em>căn</em></h5>
                        </div>
                    </div>
                    <div class="info-item ef-item ef-from-bottom ef-item-5">
                        <div class="icon"><img src="./assets/img/cad-1.svg" alt=""></div>
                        <div class="txt">
                            <span>Mật độ xây dựng</span>
                            <h5>36 <em>%</em></h5>
                        </div>
                    </div>
                    <div class="info-item ef-item ef-from-bottom ef-item-6">
                        <div class="icon"><img src="./assets/img/ruler-2.svg" alt=""></div>
                        <div class="txt">
                            <span>Tầng nổi</span>
                            <h5>22 <em>tầng</em></h5>
                        </div>
                    </div>
                    <div class="info-item ef-item ef-from-bottom ef-item-7">
                        <div class="icon"><img src="./assets/img/cad-2.svg" alt=""></div>
                        <div class="txt">
                            <span>Tổng diện tích sàn TTTM</span>
                            <h5>11.027 <em>m2</em></h5>
                        </div>
                    </div>
                    <div class="info-item ef-item ef-from-bottom ef-item-8">
                        <div class="icon"><img src="./assets/img/workspace-1.svg" alt=""></div>
                        <div class="txt">
                            <span>Tầng hầm</span>
                            <h5>4 <em>tầng</em></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section s7">
        <div class="masking"></div>
        <div class="decor-flower pos-tc type-gray"></div>
        <ul class="gallerynav nav flex-center">
            <li class="gallerynav-item txt-bgGrad-green ef-item ef-from-top ef-item-1"><a data-toggle="tab" href="#collection" class="active">bộ sưu tập</a></li>
            <li class="gallerynav-item txt-bgGrad-green ef-item ef-from-top ef-item-2"><a data-toggle="tab" href="#gallery">Hình ảnh</a></li>
            <li class="gallerynav-item txt-bgGrad-green ef-item ef-from-top ef-item-3"><a data-toggle="tab" href="#video">Video</a></li>
            <li class="gallerynav-item txt-bgGrad-green ef-item ef-from-top ef-item-4"><a data-toggle="tab" href="#document">Tài liệu</a></li>
        </ul>
        <div class="gallerycontent tab-content ef-item ef-item-5 pr">
            <div class="tab-pane fade show gallerycontent__item gallerycontent__item--collection active" id="collection">
                <a rel="Collection Gallery 1" href="./assets/img/CamTV_1PN_WTLogo-gigapixel-scaled.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="" style="background-image: url('./assets/img/CamTV_1PN_WTLogo-gigapixel-scaled.jpg')"></div>
                    <div class="galleryCollection-itemTitle">
                        <em>BỘ SƯU TẬP CĂN HỘ 1 PHÒNG NGỦ</em>
                        THE SAPPHIRE
                    </div>
                    <div class="txt">
                        <p>Theo quan niệm của người phương Tây, sắc xanh của đá Sapphire tượng trưng cho sự sang trọng, quyền lực lãnh đạo, sự sáng suốt và sức mạnh nội tâm. Qua các căn hộ thuộc bộ sưu tập The Sapphire, các chuyên gia mong muốn mang đến một không gian sống an yên nhưng không kém phần quyền quý cho chủ nhân sở hữu.</p>
                    </div>
                </a>
                <a rel="Collection Gallery 1" href="./assets/img/Khach_1pn_v001-gigapixel-scaled.jpg"></a>
                <a rel="Collection Gallery 1" href="./assets/img/Master_1Pn_v001-gigapixel-scaled.jpg"></a>
                <a rel="Collection Gallery 2" href="./assets/img/CamTV_Ruby_WTLogo-gigapixel-scal.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="./assets/img/CamTV_Ruby_WTLogo-gigapixel-scal.jpg" style="background-image: url('./assets/img/CamTV_Ruby_WTLogo-gigapixel-scal.jpg')"></div>
                    <div class="galleryCollection-itemTitle">
                        <em>BỘ SƯU TẬP CĂN HỘ 2 PHÒNG NGỦ</em>THE RUBY
                    </div>
                    <div class="txt">
                        <p>Tên tiếng Anh “ruby” có nguồn gốc từ chữ “ruber” trong tiếng Latin, có nghĩa là màu đỏ. Màu đỏ của ruby rất riêng biệt, tượng trưng cho mặt trời, quyền lực, tự do và cũng là biểu tượng của tình yêu, sự nồng nàn và lãng mạn. Bộ sưu tập căn hộ The Ruby tạo nên một không gian sống luôn trày đầy tình yêu và sự ấm áp.</p>
                    </div>
                </a>
                <a rel="Collection Gallery 2" href="./assets/img/PKHACH_BANAN_2PN_RUBY_2-gigapixe.jpg"></a>
                <a rel="Collection Gallery 2" href="./assets/img/Master_2PN-gigapixel-1-scaled.jpg"></a>
                <a rel="Collection Gallery 2" href="./assets/img/WC-2-PN_1-gigapixel-scaled.jpg"></a>
                <a rel="Collection Gallery 3" href="./assets/img/TIEU_VY_VAY_BAC-gigapixel-scaled.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="./asset/img/TIEU_VY_VAY_BAC-gigapixel-scaled.jpg" style="background-image: url('./assets/img/TIEU_VY_VAY_BAC-gigapixel-scaled.jpg');"></div>
                    <div class="galleryCollection-itemTitle">
                        <em>BỘ SƯU TẬP CĂN HỘ 3 PHÒNG NGỦ</em>THE EMERALD
                    </div>
                    <div class="txt">
                        <p>4000 năm trước, đá Emerald được coi như báu vật ở hầu khắp các nền văn hóa trên thế giới. Emerald xuất phát từ tiếng Hy Lạp có nghĩa là màu Xanh lá cây. Màu xanh lá cây của Emerald là màu sắc của cuộc sống và mùa Xuân. Bộ sưu tập căn hộ THE EMERALD mang tới cho các cư dân một không gian sống căng tràn cảm xúc, sự tươi mới và tình yêu để 365 ngày trong năm đều là mùa xuân đẹp tươi.</p>
                    </div>
                </a>
                <a rel="Collection Gallery 3" href="./assets/img/Khach_3PN_v002-gigapixel-1-scale.jpg"></a>
                <a rel="Collection Gallery 3" href="./assets/img/Master_3Pn_v002-gigapixel-scaled.jpg"></a>
                <a rel="Collection Gallery 3" href="./assets/img/bancong_3pn_7-scaled.jpg"></a>
                <a rel="Collection Gallery 3" href="./assets/img/WC_3PnV002-gigapixel-scaled.jpg"></a>
            </div>
            <div class="tab-pane fade gallerycontent__item gallerycontent__item--collection" id="gallery">
                <a data-fancybox="Album 1" href="./assets/img/VALET-PARKING-KHACH-CHOT-scaled.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="./assets/img/VALET-PARKING-KHACH-CHOT-scaled.jpg" style="background-image: url('./assets/img//VALET-PARKING-KHACH-CHOT-scaled.jpg');"></div>
                    <div class="galleryCollection-itemTitle"> <em>Album</em> ẢNH TIỆN ÍCH</div>
                </a>
                <a data-fancybox="Album 1" href="./assets/img/P_SHCD_v005-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 1" href="./assets/img/sanhletan_r4-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 1" href="./assets/img/POOL-KHACH-CHOT-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 1" href="./assets/img/VuongThuongUyen_v002_WTLogo-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 1" href="./assets/img/CamT20_WTLogo-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/bancong_3pn_7-scaled.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="./assets/img/bancong_3pn_7-scaled.jpg" style="background-image: url('./assets/img/bancong_3pn_7-scaled.jpg');"></div>
                    <div class="galleryCollection-itemTitle"> <em>Album</em> ẢNH NỘI THẤT</div>
                </a>
                <a data-fancybox="Album 2" href="./assets/img/TIEU_VY_VAY_BAC-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/Khach_3PN_v002-gigapixel-1-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/Master_3Pn_v002-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/NguNho_3PN-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/WC_3PnV002-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/CamTV_Ruby_WTLogo-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/PKHACH_BANAN_2PN_RUBY_2-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/Master_2PN-gigapixel-1-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/WC-2-PN_1-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/CamTV_1PN_WTLogo-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/Khach_1pn_v001-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 2" href="./assets/img/Master_1Pn_v001-gigapixel-scaled.jpg"></a>
                <a data-fancybox="Album 3" href="./assets/img/camTT04-gigapixel-scaled.jpg" class="galleryCollection-item">
                    <div class="galleryCollection-itemImg bg--fill lazyloaded" data-bg="./assets/img/camTT04-gigapixel-scaled.jpg" style="background-image: url('./assets/img/camTT04-gigapixel-scaled.jpg');"></div>
                    <div class="galleryCollection-itemTitle"> <em>Album</em> ẢNH NGOẠI CẢNH</div>
                </a>
            </div>
            <div class="tab-pane fade gallerycontent__item gallerycontent__item--collection" id="video">22</div>
            <div class="tab-pane fade gallerycontent__item gallerycontent__item--collection" id="document">22</div>
        </div>
    </div>
    <div class="section s8">
        <div class="masking"></div>
        <div class="decor-flower pos-tr type-gray"></div>
        <div class="s8content scontent">
            <div class="img-wrapper decor-bruswhite">
                <div class="headlineTxt">
                    <div class="effTxt trueTxt">
                        <h2 class="headlineTxt-title txt-bgGrad-gold">
                            <div class="txtBlk"> Tin tức mới nhất</div>
                        </h2>
                    </div>
                    <div class="effTxt fakeTxt">
                        <h2 class="headlineTxt-title">
                            <div class="txtBlk">
                                <div class="txtReveal">
                                    <span class="letter">T</span>
                                    <span class="letter">i</span>
                                    <span class="letter">n</span>
                                    <span class="letter">t</span>
                                    <span class="letter">ứ</span>
                                    <span class="letter">c</span>
                                    <span class="letter">m</span>
                                    <span class="letter">ớ</span>
                                    <span class="letter">i</span>
                                    <span class="letter">n</span>
                                    <span class="letter">h</span>
                                    <span class="letter">ấ</span>
                                    <span class="letter">t</span>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="img-bg bg-fill ef-item"></div>
                <div class="txt">
                    <h4 class="txt-title"> Sức hút của dự án bất động sản song hành cùng khách sạn 5 sao</h4>
                    <div class="txt-des"> Toà căn hộ hạng sang kết hợp cùng thương hiệu khách sạn danh tiếng luôn có sức hút lạ kỳ và được đông đảo giới thượng lưu tìm kiếm suốt thời gian dài. Vậy đâu là lý do tạo nên sự hấp dẫn của mô hình này? Giải mã nguyên nhân khiến mô hình căn… <a class="view-article" href="http://brglegend.vn/suc-hut-cua-du-an-bat-dong-san-song-hanh-cung-khach-san-5-sao/">View Article</a></div>
                    <a href="http://brglegend.vn/suc-hut-cua-du-an-bat-dong-san-song-hanh-cung-khach-san-5-sao/" class="btnTheme"> <span class="txt-bgGrad-gold">Đọc thêm</span> <i class="btnIcon fas fa-play txt-bgGrad-gold"></i> </a>
                </div>
            </div>
            <div class="news">
                <h3 class="news_title ef-item ef-from-right ef-item-3">Bài viết khác</h3>
                <div class="news_list">
                    <div class="post flex">
                        <a href="" title="" class="post_thumb"><img src="./assets/img/CamTT02_Feb25-gigapixel-scaled.jpg" alt=""></a>
                        <div class="post_content">
                            <time>17/06/2020</time>
                            <h3><a href="" title="">Sức hút của dự án bất động sản song hành cùng khách sạn 5 sao </a></h3>
                        </div>
                    </div>
                    <div class="post flex">
                        <a href="" title="" class="post_thumb"><img src="./assets/img/bancong_3pn_7-scaled.jpg" alt=""></a>
                        <div class="post_content">
                            <time>16/06/2020</time>
                            <h3><a href="" title="">Căn hộ hạng sang BRG Legend – Khẳng định đẳng cấp của chủ nhân</a></h3>
                        </div>
                    </div>
                    <div class="post flex">
                        <a href="" title="" class="post_thumb"><img src="./assets/img/Master_3Pn_v002-gigapixel-scaled.jpg" alt=""></a>
                        <div class="post_content">
                            <time>10/06/2020</time>
                            <h3><a href="" title="">BRG Legend – Vượng khí sinh sôi trên vùng đất di sản</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section s9">
        <div class="masking"></div>
        <div class="decor-flower pos-bl type-white"></div>
        <div class="s9content scontent">
            <div class="contact bg--brushGreen">
                <div class="contact_logo ef-item ef-from-top ef-item-1">
                    <img src="./assets/img/logo-brg-2.png" alt="">
                </div>
                <div class="contact_info flex">
                    <div class="contact_infoitem ef-item ef-item-3">
                        <h5>Địa chỉ</h5>
                        <p>Số 14 Trần Quang Khải, P. Hoàng Văn Thụ <br> Q. Hồng Bàng, Tp. Hải Phòng</p>
                    </div>
                    <div class="contact_infoitem ef-item ef-item-5">
                        <h5>Hotline</h5>
                        <a href="tel:0889963979"> 0889.96.3979 </a>
                    </div>
                    <div class="contact_infoitem ef-item ef-item-6">
                        <h5>Email</h5>
                        <a href="mailto:info@linkproperty.vn"> info@linkproperty.vn </a>
                    </div>
                    <a href="" data-toggle="modal" data-target="#regForm" class="btnTheme ef-item ef-from-bottom ef-item-7"> <span class="txt-bgGrad-gold">Đăng ký nhận tin</span> <i class="btnIcon fas fa-play txt-bgGrad-gold"></i> </a>
                </div>
                <div class="partner">
                    <div class="partner_title"> Đơn vị Tư vấn và Quản lý bán hàng</div>
                    <div class="partner_logo">
                        <a href=""><img class="lazyloaded" alt="" src="./assets/img/logo.svg"> </a></div>
                </div>
            </div>
            <div class="img-wrapper bg--fill">
                <div class="contactagent flex-center">
                    <h4>Đại lý</h4>
                    <ul class="flex">
                        <li> Công ty TNHH Tư vấn Đầu tư Xây dựng và Thương mại quốc tế TD <strong> - 0934303668</strong></li>
                        <li> Công ty CP Đầu tư và Phân phối Minh Phương <strong>0913268868</strong></li>
                        <li> Cộng đồng Nhà đất Recbook <strong>0989186179</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu">
    <div class="menulist">
        <a href="javascript:;" class="menu-item close-menu"><i class="fal fa-times active"></i></a>
        <div class="menu-item moveTo"><span>Giới thiệu</span></div>
        <div class="menu-item moveTo"><span>Về dự án</span></div>
        <div class="menu-item moveTo"><span>Vị trí</span></div>
        <div class="menu-item moveTo"><span>Giá trị</span></div>
        <div class="menu-item moveTo"><span>Tiện ích</span></div>
        <div class="menu-item moveTo"><span>Mặt bằng</span></div>
        <div class="menu-item moveTo"><span>Thư viện</span></div>
        <div class="menu-item moveTo"><span>Tin tức</span></div>
        <div class="menu-item moveTo"><span>Liên hệ</span></div>
    </div>
</div>