:root {
  --color-theme: #2E9CAF;
  --color-dark: #012943;
  --color-green: #014533;
  --color-blue: #0B7D9E;
  --color-yellow: #C0A26B;
  --color-light: #EFEFF4;
  --color-grad-gold: linear-gradient(98deg,#fff5e5,#eddabc 21%,#ccad6a 51%,#bc9e6c 74%,#dec8a6 100%);
  --color-grad-green: linear-gradient(100deg,#0a87ac,#04425e 13%,#032b44 45%,#369852);
  --color-grad-green-inverse: linear-gradient(215deg,#369852,#032b44 100%,#0a87ac 0%);
  --font-title: 'iCiel Saol Text';
  --font-regular: 'Barlow';
  --color-grad: linear-gradient(135deg,rgba(124,203,190,1) 0%,rgba(23,165,193,1) 50%,rgba(209,118,176,1) 80%);
  --transition-smooth: all 0.5s cubic-bezier(.04,1,.6,.97);
  --transition-smooth-2: all 1.5s cubic-bezier(.04,1,.6,.97);
}


@font-face {
  font-family: 'iCiel Saol Text';
  src: url('#{$font-path}/iCielSaolText-Medium.ttf');
}

body{
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.section{
  overflow: hidden;
  .masking{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

//header
header{
  display: flex;  flex-flow: column;
  justify-content: space-between; align-items: center;
  padding: 8px; opacity: 1;
  position: absolute;
  height: 100%; width: 90px;
  transition: var(--transition-smooth);
  z-index: 9;
  .logo{
    width: 65px;
    height: 100px;
    background: url("#{$img-path}/logo-brg-3.png") no-repeat center/contain;
    margin-top: 12px;
    transition: all .15s ease-out;
  }
}
.connect{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: -42px 0 0;
  a{width: 36px; height: 36px; margin: 16px 0 0; display: flex; align-items: center; justify-content: center;}
  i{color: #fff; font-size: 30px;}
}
.btn-toggle{
  width: 72px; height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  border: none; background: none;
  transition: var(--transition-smooth);
  cursor: pointer;
  float: left;
  position: relative;
  &:focus{outline: none;}
  &.open{opacity: 0;}
  span{
    display: block;
    width: 42%; height: 2px;
    background: var(--color-grad-gold);
    border-radius: 9px;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transition: .25s ease-in-out;
  }
  span:nth-child(1){top: 28px;}
  span:nth-child(2){top: 38px;}
  span:nth-child(3){top: 48px; left: 42%; width: 24%;}
}
.mainmenu{
  position: fixed;
  top: 16px;
  right: 8px;
  z-index: -1;
  cursor: pointer;
  &.show{
    z-index: 10;
    .menu-item{opacity: 1; transform: none;}
    .menu-item:nth-child(1){transition-delay: .1s;}
    .menu-item:nth-child(2){transition-delay: .15s;}
    .menu-item:nth-child(3){transition-delay: .2s;}
    .menu-item:nth-child(4){transition-delay: .25s;}
    .menu-item:nth-child(5){transition-delay: .3s;}
    .menu-item:nth-child(6){transition-delay: .35s;}
    .menu-item:nth-child(7){transition-delay: .4s;}
    .menu-item:nth-child(8){transition-delay: .45s;}
    .menu-item:nth-child(9){transition-delay: .5s;}
    .menu-item:nth-child(10){transition-delay: .55s;}
    .menulist::after{opacity: 1;}
  }
  .menulist{
    display: flex;
    flex-flow: column;
    flex: 1; justify-content: center;
    width: 100%; max-width: 320px;
    height: 100%;
    text-align: center;
    position: fixed; top: 0; left: 0;
    z-index: 1;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: var(--color-green);
      background: url("#{$img-path}/pattern.jpg");
      background-size: cover;
      background-position: center;
      transition: all .5s ease-in;
      opacity: 0;
    }
  }
  .menu-item{
    padding: 6px 0 6px 24%;
    text-align: left;
    text-transform: uppercase;
    transition: all .1s ease-out;
    opacity: 0; color: #fff; font-size: 20px;
    z-index: 2;
    position: relative;
    transform: scale(.8);
  }
  .fa-times {
    font-size: 44px;
    font-weight: 300;
    margin: 0 0 16px;
  }
}

//section1
.s1banner{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}
.s1banner-img{
  width: 100%; height: 100%;
  background: url("#{$img-path}/KV03_tieuvi_recolor-gigapixel-sc.jpg") no-repeat center center/cover;
  transform: scale(1.2);
  transition: all .1s ease-out .5s;
}
.s1content{
  position: absolute;
  right: calc((100vw - 1140px)/2);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.logo img{width: 134px;}

.welcomeTitle{
  color: #fff;
  font-size: 40px;
  margin: 64px 0 110px;
  font-weight: initial;
  width: 320px;
  .headlineTxt{font-size: 42px;}
  .headlineTxt-title{text-transform: initial; font-size: 36px;}
  .headlineTxt-title .txtBlk:nth-child(2){margin-left: 98px;}
}
.headlineTxt{
  position: relative; left: 0;
  font-family: var(--font-title);
}
.headlineTxt-title{
  text-transform: uppercase; width: max-content; font-size: 24px;
  .txtBlk:nth-child(1){text-transform: initial; font-style: italic;}
  .txtBlk:nth-child(2){text-transform: uppercase;}
}
.s1{
  .headlineTxt-title .txtBlk{
    text-transform: initial !important;
    font-style: initial;
  }
  .btn-video{
    margin: 48px 0 0;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none;
    height: 36px;
    position: relative;
    color: var(--color-yellow);
    background: var(--color-green);
    background: url('#{$img-path}/btnBg.jpg') no-repeat center center/cover;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border: none;
    width: 220px;
    text-decoration: none!important;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    .btnIcon{margin-left: 20px;}
  }
}
.txt-bgGrad-green{
  background-image: var(--color-grad-green);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-bgGrad-gold{
  background-image: var(--color-grad-gold);
  background-color: #bc9e6c;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.effTxt{position: absolute;}
.trueTxt{opacity: 0; z-index: 2; pointer-events: none;}
.letter{
  opacity: 0;
  transition: var(--transition-smooth-2);
  transform: scale(5);
  display: inline-block;
  color: #ecdfc7;
  transition: all .5s ease-out;
}
.s4 .letter, .s5 .letter {
  color: var(--color-green);
}
.s5 .headlineTxt-title .txtBlk {
  display: block;
}
.s8 .headlineTxt-title .txtBlk {
  text-transform: uppercase;
  font-style: initial;
}
.decor-flower{
  width: 240px;
  height: 240px;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  &.type-gray{background: url("#{$img-path}/flower-gray-topRight.png") no-repeat;}
  &.type-white{background: url("#{$img-path}/flower-white-bottomLeft.png") no-repeat;}
  &.type-bl{background: url("#{$img-path}/flower-gray-bottomLeft.png") no-repeat;}
  &.pos-tr{top: 0; right: 0;}
  &.pos-bl{bottom: 0; left: 0;}
  &.pos-br.type-gray{bottom: 0; right: 0; background: url("#{$img-path}/flower-gray-bottomRight.png") no-repeat;}
  &.pos-tr.type-white{background: url("#{$img-path}/flower-white-topRight.png") no-repeat;}
  &.pos-tc.type-gray{
    width: 220px; height: 109px;
    background: url("#{$img-path}/flower-gray-topCenter.png") no-repeat top center/cover;
    top: 0; left: 0; right: 0; margin: 0 auto;
  }
}


.ef-item{opacity: 0; transition: all .75s ease-out;}
.ef-item-1{transition-delay: .25s;}
.ef-item-2{transition-delay: .35s;}
.ef-item-4{transition-delay: .55s;}
.ef-item-5{transition-delay: .65s;}
.ef-item-3{transition-delay: .45s;}
.ef-item-6{transition-delay: .75s;}
.ef-item-7{transition-delay: .85s;}
.ef-from-top{transform: translateY(-72px);}
.ef-from-bottom{transform: translateY(72px);}
.ef-from-right{transform: translateX(72px);}
.ef-from-left{transform: translateX(-72px);}

//s2
.s2content{
  height: 100%;
  .introcontent{
    background: #fff;
    width: 40%;
    padding: 100px 100px 100px 0;
    position: relative;
    z-index: 2;
  }
  .introtab{
    display: flex;
    margin-bottom: 36px;
    width: max-content;
    position: relative;
    z-index: 2;
    .introtab-item{
      font-size: 24px;
      font-family: var(--font-title);
      text-transform: uppercase;
      color: #ABB4BD;
      cursor: pointer;
      transition: var(--transition-smooth);
      margin: 12px 24px 0 0;
    }
    .introtab-item.active {
      color: var(--color-green);
    }
    .introtab-item.active::after{
      content: '';
      width: 54px;
      height: 2px;
      background: var(--color-grad-green);
      display: block;
      margin: 12px auto 0;
    }
  }
  .introTxt-item{text-align: justify; display: none;}
  .introTxt-item.active {
    display: block;
  }
  .img-wrapper{width: 60%;}
  .img-bg{
    display: none; background: url("#{$img-path}/sanh-sieu-xe_2-gigapixel-scaled.jpg") no-repeat center center/cover;
    &::after{
      content: "";
      width: 40%; height: 100%; display: block;
      background: linear-gradient(90deg,rgba(0,0,0,.66),transparent);
    }
  }
  .img-bg.active{display: block;}
}
.bg-fill{
  width: 100%; height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.decor-bruswhite{
  position: relative;
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: url("#{$img-path}/brush-white.png") no-repeat right top/auto 100%;
    position: absolute; top: 0; right: -2px; z-index: 2; pointer-events: none;
  }
}

//s3
.s3content{
  display: flex;
  height: 100%;
  .img-wrapper{width: 82%; background: #141414;}
  .img-bg{
    width: 100%;
    height: 100%;
    display: block;
    background: url("#{$img-path}/BRGlegend-Bandovitri0506020-whit.jpg");
    background-size: auto 100%;
    background-position: 25% center;
  }
  .locationcontent{
    width: 40%;
    color: #fff;
    padding: 0 142px 0 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: -12%;
    z-index: 2;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      background: var(--color-grad-green-inverse);
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(100% 0,95% 43%,76% 82%,65% 100%,0 100%,0 0);
      -webkit-clip-path: polygon(100% 0,95% 43%,76% 82%,65% 100%,0 100%,0 0);
      z-index: -1;
      pointer-events: none;
    }
    article{margin: 42px 0;}
  }
  .headlineTxt{height: 84px;}
}
.bg--brushGreen{
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("#{$img-path}/s3-brush.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center right;
    right: -90px;
    top: 0;
    pointer-events: none;
  }
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--color-grad-green-inverse);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 95% 43%, 76% 82%, 65% 100%, 0 100%, 0 0);
    z-index: -1;
    pointer-events: none;
  }
}

//s4
.s4content{
  display: flex;
  align-items: center;
  height: 100%;
  .s4title{width: 20%;}
}
.slidercontent{
  display: flex;
  width: 75%;
  height: 100%;
  padding-left: 90px;
  margin-right: 56px;
  position: relative;
  z-index: 2;
  h4{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    font-style: italic;
  }
  p{margin-bottom: 15px;}
  .title{
    font-size: 22px;
    transform: rotate(-90deg);
    position: absolute;
    left: 80px;
    bottom: 24px;
    transform-origin: left bottom;
    width: max-content;
    z-index: 2;
    color: #fff;
    transition: var(--transition-smooth);
    min-height: 60px;
    font-style: italic;
  }
  .item{
    width: 100%;
    border-right: 1px solid #fff;
    background: #000;
    padding: 16px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    overflow: hidden;
  }
  .item:hover{
    width: 300%;
    transition: var(--transition-smooth);
    .title{opacity: 0;}
    .content{opacity: 1;}
    .item-bg{opacity: .35;}
  }
  .item-bg{
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 100%;
    background-color: #000;
    transition: all .15s ease-out;
    cursor: pointer;
    &::after{
      content: '';
      width: 100%;
      height: 30%;
      background: linear-gradient(0,black,transparent);
      display: block;
      position: absolute;
      bottom: 0;
    }
  }
  .content{
    transition: var(--transition-smooth);
    opacity: 0;
    position: absolute;
    color: #fff;
    width: 290px;
    text-align: justify;
  }
}

//s5
.s5content{
  height: 100%; display: flex;
  .headlineTxt{height: 80px;}
  .col-left{
    margin-left: 100px;
    height: max-content;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    width: 320px;
    flex: 0 0 auto;
  }
  .col-right{
    margin-left: 42px;
    display: flex;
    width: calc(100% - 420px - 42px);
  }
  .slider_utilitie{width: 100%; height: 100%;}
  .slick-list,.slick-track{height: 100%;}
  img.bg{width: 100%; height: 100%; object-fit: cover;}
  .title{
    padding: 0 16px;
    font-size: 18px;
    height: 54px;
    font-family: var(--font-title);
    text-align: center;
    opacity: 0;
    transition: var(--transition-smooth);
    transform: translateY(32px);
  }
  .icon{width: 42px; height: 42px; margin: 12px auto 16px;}
  .content{
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(64px);
    transition: var(--transition-smooth);
    backdrop-filter: saturate(180%) blur(20px);
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      background: url("#{$img-path}/divider-grad-gold.svg");
      display: block;
      position: absolute;
      top: 0;
    }
  }
  .slick-slide:hover{
    .content{transform: none;}
    .title{transform: none; opacity: 1;}
  }
  .slick-arrow{
    position: absolute;
  }
  .nav-slider{
    margin-top: 20px;
    a{
      border-right: 1px solid var(--color-light);
      position: relative;
      width: 48px;
      height: 48px;
      background: url("#{$img-path}/pattern-small.jpg");
      background-size: cover;
      color: #dcb877;
      font-size: 14px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
}

//s6
.s6content{
  .col-left{
    width: 68%;
    height: 100%;
    display: flex;
    margin-left: 100px;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .col-right{
    color: #fff;
    width: 32%;
    padding: 32px 12px 32px 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    &::before{clip-path: polygon(100% 0, 100% 100%, 35% 100%, 20% 65%, 2% 37%, -3% 0%);}
    &::after{
      background-image: url("#{$img-path}/s6-brush.png");
      left: -80px;
      right: initial;
      background-position: left center;
    }
  }
  .nav-floor{
    width: 140px;
    flex: 0 0 auto;
    text-align: center;
    margin: 0 20px 0 0;
    .nav-item{
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-light);
      color: var(--color-green);
      background: #fff;
      cursor: pointer;
      transition: var(--transition-smooth);
      margin: 0 0 -1px 0;
      text-decoration: none !important;
    }
    .nav-item.active{
      background: var(--color-grad-green-inverse);
      color: #fff !important;
      border-color: transparent;
    }
  }
  .floor-item{
    height: 94vh;
    width: 100%;
    max-height: 720px;
    position: relative;
  }
  .floorPlan-itemImg{
    height: 100%;
    width: 90%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s cubic-bezier(0, 0, 0, 0.88);
    display: flex;
    justify-content: center;
    transform: translateX(120px);
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .floorPlan-itemImg.active{opacity: 1; transform: none; pointer-events: auto;}
  .headlineTxt{height: 64px; margin-left: 16px;}
  .floor-info{
    margin: 42px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 0 0 36px;
    position: relative;
    z-index: 99;
    width: 100%;
    max-width: 320px;
    .icon{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: var(--color-grad-gold);
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    span{
      text-transform: uppercase;
      font-size: 12px;
      width: max-content;
      display: block;
    }
    h5{font-family: var(--font-title); font-size: 24px;}
  }
  .info-item{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 0 16px 0;
  }
}

//s7
.gallerynav{
  height: 20%;
  &-item{
    font-size: 24px;
    font-family: var(--font-title);
    text-transform: uppercase;
    margin: 0 24px;
    cursor: pointer;
  }
  &-item .active{color: #bc9e6c;}
}
.gallerycontent{
  height: 80%;
  &__item{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all .15s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    &--collection.active{display: flex;}
    &.active{opacity: 1; pointer-events: auto;}
  }
}
.galleryCollection-item{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none!important;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  background: #000;
  color: #fff;
  flex-flow: column;
  overflow: hidden;
  &::after{
    content: '';
    width: 240px;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(90deg,black,transparent);
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
  }
  .txt{
    padding: 0 64px;
    margin: 64px 0 0 0;
    position: relative;
    color: #fff;
    transition: var(--transition-smooth-2);
    opacity: 0;
    transform: translateY(24px);
    text-align: justify;
  }
}
.galleryCollection-item:hover{
  .galleryCollection-itemImg{opacity: .3;}
  .galleryCollection-itemTitle{
    transform: none;
    &::after,&::before{width: 72px;}
  }
  .txt{opacity: 1; transform: none;}
}
.galleryCollection-itemImg{
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
  transition: all .15s ease-out;
}
.galleryCollection-itemTitle{
  position: relative;
  text-align: center;
  font-size: 32px;
  font-family: var(--font-title);
  color: #fff;
  transform: translateY(110px);
  transition: var(--transition-smooth);
  em{
    display: block;
    font-style: initial;
    font-size: 20px;
    letter-spacing: 2px;
  }
  &::after,&::before{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: 28px auto;
    transition: var(--transition-smooth);
    position: absolute;
  }
  &::before{top: -64px; left: 0;}
  &::after{right: 0;}
}

//s8
.s8content{
  .img-wrapper{
    width: 70%;
    position: relative;
    padding-left: 120px;
    color: #fff;
  }
  .headlineTxt{position: relative; top: 54px; z-index: 2;}
  .img-bg{
    background: url("#{$img-path}/CamTT02_Feb25-gigapixel-scaled.jpg") no-repeat center center/cover;
    position: absolute;
    left: 0;
    background-color: var(--color-dark);
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      display: block;
      position: absolute;
      bottom: 0;
      opacity: .6;
    }
  }
  .txt{
    position: absolute;
    bottom: 54px;
    padding: 0 260px 0 0;
  }
  .txt-title{font-size: 18px; font-family: var(--font-title);}
  .txt-des{margin: 12px 0 32px; padding-right: 120px;}
  .view-article{display: none;}
  .news{
    width: 30%;
    padding: 54px 54px 54px 0;
    position: relative;
    z-index: 2;
    &_title{margin-bottom: 42px; text-transform: uppercase; font-size: 24px;}
  }
  .post{
    margin-bottom: 12px;
    &_thumb{
      width: 164px;
      height: 120px;
      background-color: var(--color-light);
      flex: 0 0 auto;
      border-radius: 25px 0 25px 0;
      display: block; overflow: hidden;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    &_content{padding-left: 20px; width: calc(100% - 164px);}
    time{display: block; margin-bottom: 8px;}
    a{
      font-size: 15px;
      line-height: 18px;
      font-family: var(--font-title);
      color: var(--color-green)!important;
      font-weight: 600;
      display: block;
    }
  }
}

//s9
.s9content{
  .contact{
    width: 42%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 132px 0 40px;
    margin-right: -12%;
    position: relative;
    z-index: 1;
    &_logo{
      margin-bottom: 42px;
      img{width: 115px;}
    }
    &_infoitem{margin: 12px 0; padding: 0 14px; width: 100%;}
    &_info{margin: -20px 10px 0; position: relative; z-index: 2;}
    h5{margin-bottom: 2px; font-size: inherit; text-transform: uppercase; opacity: .5; letter-spacing: 1px;}
    p,a{font-size: 18px; color: inherit; transition: all .15s ease-out; line-height: initial;}
    .btnTheme{margin: 24px auto 0;}
  }
  .partner{
    &_title{font-family: var(--font-title); font-style: italic; margin: 32px auto 12px;}
    &_logo{display: flex; justify-content: center;}
  }
  .img-wrapper{
    width: 70%;
    position: relative;
    background: url("#{$img-path}/TT01_Mar21-gigapixel-scaled-e158.jpg") no-repeat center center/cover;
  }
  .contactagent{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 74px;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    backdrop-filter: blur(10px);
    padding-left: 52px;
    h4{ width: max-content; flex: 0 0 auto; margin-right: 20px;}
    ul{ flex-wrap: nowrap;}
    li{
      width: 100%;
      padding: 0 12px;
      border-right: 1px solid rgba(#fff,.5);
      font-size: 13px;
    }
    strong{color: #fff; font-size: 14px; min-width: 180px;}
  }
}

//section active
.section.active{
  .s1banner-img{transform: scale(1); transition: transform 5s ease-out;}
  .ef-item{opacity: 1; transform: none;}
  .effTxt{opacity: 0; transition: all .5s ease-out 2s;}
  .trueTxt{opacity: 1; transition: all 1s ease-out 2s;}
  .letter{opacity: 1; transform: scale(1); filter: none; transition: var(--transition-smooth-2);}
  .letter:nth-child(1){transition-delay: 1s;}
  .letter:nth-child(2){transition-delay: 1.05s;}
  .letter:nth-child(3){transition-delay: 1.1s;}
  .letter:nth-child(4){transition-delay: 1.15s;}
  .letter:nth-child(5){transition-delay: 1.2s;}
  .letter:nth-child(6){transition-delay: 1.25s;}
  .letter:nth-child(7){transition-delay: 1.3s;}
  .letter:nth-child(8){transition-delay: 1.35s;}
  .letter:nth-child(9){transition-delay: 1.4s;}
  .letter:nth-child(10){transition-delay: 1.45s;}
  .letter:nth-child(11){transition-delay: 1.5s;}
  .letter:nth-child(12){transition-delay: 1.55s;}
  .letter:nth-child(13){transition-delay: 1.6s;}
  .masking{
    background-size: 0;
    -webkit-mask: url('#{$img-path}/mask.png');
    mask: url('#{$img-path}/mask.png');
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    background: #fff;
  }
}
.section.active .masking {
  -webkit-animation: mask-play 1.4s steps(22) forwards;
  animation: mask-play 1.4s steps(22) forwards
}

//uikit
.pr{position: relative;}
.bg--fill{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
}
article{
  font-size: 14px;
  line-height: 24px;
  a{font-weight: 700; color: var(--color-yellow);}
}
.btnTheme {
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
  height: 36px;
  position: relative;
  color: var(--color-yellow);
  background: var(--color-green);
  background: url("#{$img-path}/btnBg.jpg");
  background-size: cover;
  background-position: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin: 0;
  border: none;
  width: 220px;
  text-decoration: none!important;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  .btnIcon{margin-left: 20px;}
}
.scontent{
  display: flex;
  height: 100%;
}



//animation
@-webkit-keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0
  }
}

@keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0
  }
}